<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet"type="text/css">
    <style> html{background-color:darkolivegreen;}h1 {color: goldenrod;} button {color:goldenrod; border-color: black;background-color: black;}</style>
</head>
<body>
    <p>Get your student <a href="/student">here</a></p>
    <h1>Spring Boot!</h1>
    <button>HEY!!</button>
    <p th:text="${age}"></p>
</body>
</html>